.battleBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.battleBlock > div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.packBlock,
.reboundBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.packCard {
  width: 90px;
}
.reboundBlock {
  width: 20%;
}
.packBlock {
  width: 20%;
}
.deckCardsNumUserTwo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -34px;
  position: relative;
}

.battleCard {
  margin-left: 5px;
  border: solid gold 1px;
  width: 100px;
  height: 115px;
}

.activeCard {
  position: relative;
  transform: scale(1.4);
}

.dropList {
  border: solid white 2px;
  border-radius: 4px;
}
/* .usedCard {


} */

.battleCardUser_two_firstLine > img {
  transition: all 0.5s ease-in-out;
  margin-left: -27px;
  cursor: pointer;
}
.battleCardUser_one_firstLine > img {
  transition: all 0.5s ease-in-out;
  margin-left: -27px;
  cursor: pointer;
}

.battleCardUser_two_secondLine {
  /* background-color: aqua; */
  height: 25%;
}
.battleCardUser_two_thirdLine {
  /* background-color: greenyellow; */
  height: 25%;
}
.battleCardUser_two_firstLine {
  /* background-color: teal; */
  height: 28%;
}
.battleCardUser_one_secondLine {
  /* background-color: aqua; */
  height: 25%;
}
.battleCardUser_one_thirdLine {
  /* background-color: greenyellow; */
  height: 25%;
}
.battleCardUser_one_firstLine {
  /* background-color: teal; */
  height: 28%;
}

.battleCardUser_one {
  width: 100%;
  height: 50%;
  display: flex;
}
.battleCardUser_two {
  width: 100%;
  height: 50%;
  display: flex;
}
.classes.battleCardUser_two > div {
  display: flex;
}
.rev {
  flex-direction: column-reverse;
}
.deckCardsNum {
  margin-top: -32px;
  font-size: 22px;
  font-weight: bold;
}
.battleCard_wraper {
  width: 100px;
  height: 115px;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 0;
  display: flex;
}

.battleCard_wraper:hover {
  transition: all 0.5s ease-in-out;
  position: relative;
  transform: scale(1.4);
  z-index: 999;
}

/* .battleCard_wraper::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  bottom: 0px;
  background: red;
  margin-right: 30px;
}
.battleCard_wraper::after {
  content: "";
  position: absolute;
  border-bottom: 20px solid transparent;
  border-right: 20px solid green;
  border-top: 20px solid transparent;
  right: 30px;
  transform: rotate(-90deg);
} */
.arrowAttack {
  position: absolute;
  border-bottom: 20px solid transparent;
  border-right: 20px solid green;
  border-top: 20px solid transparent;
  top: 0px;
  right: 30px;
  /* transform: rotate(90deg); */
}
/* .battleCard_wraper::after{
  content: "4";
position: absolute;
  color: white;
  font-size:2vw
} */

.cardInfo {
    display: none;
    position: absolute;
    /* position: relative; */
    border-radius: 0px 5px 5px 0px;
    background-color: yellowgreen;
    padding: 12px;
    color: darkolivegreen;
    width: 239px;
    height: 228px;
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    margin-left: 5px;
}

.hidden {
  display: none;
}



.battleCardUser_two_life,.battleCardUser_one_life{
  position: absolute;
  left: 13px;
  top: 2px;
  font-size: 20px;
}
.battleCardUser_two_attack, .battleCardUser_one_attack{
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 20px;
}