* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  perspective: 1000px;
}
.App {
  background-image: url(http://assets.vg247.com/current//2015/05/the_witcher_3_gwent.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
span {
  color: white;
}
.activeCard {
  position: relative;
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 7rem 9rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  background-image: url("../../gwent-card-game//public/battleCard/art1.png");
  background-size: contain;
  background-repeat: round;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.hiddenMod {
  visibility: hidden;
  opacity: 0;
}
.modalUserOne {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.modalUserTwo {
  position: fixed;
  /* top: 0; */
  bottom: 0;
  left: 18%;
  width: 79%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.modal_winGame{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  /* padding: 7rem 9rem; */
  box-shadow: 0 4rem 6rem rgb(0 0 0 / 30%);
  z-index: 1000;
  transition: all 0.5s;
  /* background-image: url(http://localhost:3000/static/media/art1.fb1fb2f….png); */
  background-size: contain;
  background-repeat: round;
  /* display: flex; */
  /* justify-content: end; */
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay_winGame{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}